---

title: Home

---

<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | absolute_url }}" />

<!--		Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png' | absolute_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon/favicon-32x32.png' | absolute_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon/favicon-16x16.png' | absolute_url }}">
		<link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | absolute_url }}">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">{{ site.title }} <span>{{ page.title }}</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					{% for item in site.data.navigation %}
					<li><a href="{{ item.url }}">{{ item.title }}</a></li>
					{% endfor %}
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner half">
				<article>
					<img src="images/slide01.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Under Construction</p>
							<h2>Ellen</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<h2>Recent Projects</h2>
					</header>
					<div class="grid-style">
						{% for post in site.categories.project limit: 2 %}
						<div>
							<div class="box">
								{% if post.image %}
								<div class="image fit">
									<img src="{{ post.image }}" alt="{{ post.title }}" />
								</div>
								{% endif %}
								<div class="content">
									<header class="align-center">
										<h2>{{ post.title }}</h2>
									</header>
									<p>{{ post.excerpt }}</p>
									<footer class="align-center">
										<a href="{{ post.url }}" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>

					<div class="align-center">
						<a href="/projects.html" class="button special">View More Projects</a>
					</div>

				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<h2>Gallery</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="images/gallery/pic01.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/gallery/pic02.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/gallery/pic03.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/gallery/pic04.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						{% if site.data.social_media %}
						{% assign sm = site.data.social_media %}
						{% for entry in sm %}
						{% assign key = entry | first %}
						{% if sm[key].id %}
						<li><a href="{{ sm[key].href }}{{ sm[key].id }}" class="icon {{ sm[key].fa-icon }}"><span class="label">{{ sm[key].title }}</span></a></li>
						{% endif %}
						{% endfor %}
						{% endif %}
					</ul>
				</div>
				<div class="copyright">
					&copy; Ellen Duong. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>