---

---
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | absolute_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/noscript.css' | absolute_url }}" />

    <!--		Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicon/apple-touch-icon.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/favicon/favicon-32x32.png' | absolute_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/favicon/favicon-16x16.png' | absolute_url }}">
    <link rel="manifest" href="{{ 'assets/favicon/site.webmanifest' | absolute_url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M5PZ0VP99T"></script>
    <script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-M5PZ0VP99T');
    </script>
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="logo"><a href="{{ 'index.html' | absolute_url }}">Ellen Duong <span>{{ page.title }}</span></a></div>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</nav>

<!-- Wrapper -->
<div id="wrapper" class="divided">

    <section class="wrapper style2 align-left">
        <div class="inner">
            <header class="align-center">
                <figure class="image fit">
                    {% if page.image %}
                    <img src="{{ page.image | absolute_url }}" alt=""/>
                    {% else %}
                    <img src="{{ page.thumbnail | absolute_url }}" alt=""/>
                    {% endif %}
                    {% if page.image_caption %}
                    <figcaption class="align-right">{{ page.image_caption }}</figcaption>
                    {% endif %}
                </figure>
                {% if page.timeline %}
                <h5 class="align-left">{{ page.timeline }}</h5>
                {% endif %}
                <h2>{{ page.title }}</h2>
            </header>
            <p>{{ content }}</p>
        </div>
    </section>

    {% if page.gallery %}
    <!-- Gallery -->
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>Gallery</h2>
        </div>
        <div class="gallery style2 medium lightbox onscroll-fade-in">
            {% for item in page.gallery %}
            <article>
                <a href="{{ item.src }}" class="image">
                    <img src="{{ item.src }}" alt="" />
                </a>
                <div class="caption">
<!--                        <h3>Ipsum Dolor</h3>-->
<!--                        <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>-->
<!--                        <ul class="actions fixed">-->
<!--                            <li><span class="button small">Details</span></li>-->
<!--                        </ul>-->
                </div>
            </article>
            {% endfor %}
        </div>
        {% endif %}
    </section>

        <!-- Footer -->
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    {% if site.data.social_media %}
                    {% assign sm = site.data.social_media %}
                    {% for entry in sm %}
                    {% assign key = entry | first %}
                    {% if sm[key].id %}
                    <li><a href="{{ sm[key].href }}{{ sm[key].id }}" class="icon style2 {{ sm[key].fa-icon }}"><span class="label">{{ sm[key].title }}</span></a></li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                <p>&copy; Ellen Duong. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </div>
        </footer>
</div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.scrollex.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/browser.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/breakpoints.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>

</body>
</html>